.x-mask-loading div {
	padding: 5px 10px 5px 25px;
	background: #fbfbfb url( '../img/16/loading-01.gif' ) no-repeat 5px 5px;
	line-height: 16px;
}

/*
	Firefox cursor bug.
*/
.ext-gecko .x-panel-body .x-form-element {
	position: fixed;
	position: expression("absolute");
}

.x-form-cb-label {
	width: 'auto' !important;
	float: none !important;
	clear: none !important;
	display: inline !important;
	margin-left: 4px;
	font-size: 10px;
}

#container {
	width: 96%;
	height: 500px;
	border: dashed 1px #C0C0C0;
	margin: 10px auto 0 auto;
	padding: 15px;
	display: block;
}

#geopasto-logo {
	width: 400px;
	position: relative;
	display: block;
	float: left;
	margin: 0 0 0 12%;
}

#container-login {
	width: 300px;
	margin: 15% 0 0 15px;
	position: relative;
	display: block;
	float: left;
	position: relative;
}

.map-panel {
	display: block;
	margin: 10px auto;
	border: none;
}