<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>|-- $page_title --|</title>
	|-- $xajax_js --|	
	
	<link rel="stylesheet" type="text/css" href="./include/ext/resources/css/ext-all.css" />
	<link id="theme-css" rel="stylesheet" type="text/css" href="./include/ext/resources/css/|-- $theme_name --|" />
	<!-- GC -->
	<!-- LIBS -->
	<script type="text/javascript" src="./include/ext/adapter/ext/ext-base.js"></script>
	<!-- ENDLIBS -->	
	<script type="text/javascript" src="./include/ext/ext-all.js"></script>
	<script type="text/javascript" src="./include/ext/ext-all-debug.js"></script>
	<script type="text/javascript" src="./include/ext/build/locale/ext-lang-es.js"></script>
	
	<script type="text/javascript" src="./js/xajax-proxy.js"></script>
	<script type="text/javascript" src="./js/grid-search-plugin.js"></script>
	<script type="text/javascript" src="./js/tree-storeloader.js"></script>
	<script type="text/javascript" src="./js/autogrid.js"></script>
	<script type="text/javascript" src="./js/map-panel.js"></script>
	
	<script type="text/javascript" src="./js/usuariosui.js"></script>
	<script type="text/javascript" src="./js/simbolosui.js"></script>
	
	<link rel="stylesheet" type="text/css" href="./css/geopasto.css" />
	<link rel="stylesheet" type="text/css" href="./css/icons.css" />

</head>
<body id='layout-body'>
</body>
</html>