<div id="container">
	<div id="header" class="x-panel-header">
		<img src="img/logo-01.png" height="150px" style="position: absolute;">
		<img src="img/texto.png" style="position: relative; left: 135px">
	</div>
	<div id="spacer">&nbsp;</div>
	<div id="content">
		<div id='container-login'></div>
	</div>
	<div id="spacer">&nbsp;</div>
	
	<div id="footer" class="">	
		<a href="http://www.php.net" target="_blank"><img src="img/php5-power-micro.png"></a>&nbsp;
		<a href="http://www.smarty.net/" target="_blank"><img src="img/smarty-80x15.png"></a>&nbsp;
		<a href="http://adodb.sourceforge.net/" target="_blank"><img src="img/adodb-80x15.png"></a>&nbsp;
		<a href="http://xajaxproject.org/" target="_blank"><img src="img/xajax-80x15.png"></a>&nbsp;
		<a href="http://www.fpdf.org/" target="_blank"><img src="img/fpdf-80x15.png"></a>&nbsp;
		<a href="http://extjs.com/" target="_blank"><img src="img/extjs-80x15.png"></a><br>
		
		<a href="http://www.apache.org/" target="_blank"><img src="img/apache.png"></a>&nbsp;
		<a href="http://www.postgresql.org/" target="_blank"><img src="img/postgresql.png"></a>&nbsp;
		<a href="http://postgis.refractions.net/" target="_blank"><img src="img/postGIS_powered.gif"></a>&nbsp;
		<a href="http://mapserver.gis.umn.edu/" target="_blank"><img src="img/validator-mapserver.png"></a>&nbsp;
	</div>
</div>