
<input type="hidden" id="|-- $map->getName() --|-oe" value="|-- $map->getExtent(true) --|" >
<input type="hidden" id="|-- $map->getName() --|-ex" value="|-- $map->getExtent(true) --|" >
<input type="hidden" id="|-- $map->getName() --|-x" value="0" >
<input type="hidden" id="|-- $map->getName() --|-y" value="0" >
<input type="hidden" id="|-- $map->getName() --|-action" value="pan" >

<img id="|-- $map->getName() --|-img" class="map-panel" 
	width="|-- $map->getMapWidth() --|" height="|-- $map->getMapHeight() --|" 
	src="|-- $map->drawMap() --|">